.flowers__title {
    color:rgb(237, 14, 148);
    display: flex;
    justify-content: center;
}

.flowers__container {
    max-width: 650px;
    margin: 0 auto;
  }
  
  .flowers-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    counter-increment: slide;
    height: 630px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .flowers-slider__item:nth-child(1) {
    background-image: url(../../assets/images/flowers-img1.jpg);
  }
  
  .flowers-slider__item:nth-child(2) {
    background-image: url(../../assets/images/flowers-img2.jpeg);
  }
  
  .flowers-slider__item:nth-child(3) {
    background-image: url(../../assets/images/flowers-img3.jpeg);
  }
  
  .flowers-slider__item:nth-child(4) {
    background-image: url(../../assets/images/flowers-img4.jpeg);
  }
  
  .flowers-slider__item:nth-child(5) {
    background-image: url(../../assets/images/flowers-img5.jpeg);
  }
  
  .flowers-slider__item:nth-child(6) {
    background-image: url(../../assets/images/flowers-img6.jpeg);
  }
  
   
  
  .flowers-slider {
    position: relative;
  }
  
  .flowers-slider__wrapper {
    overflow: hidden;
  }
  
  .flowers-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .flowers-slider__transition-none {
    transition: none;
  }
  
  .flowers-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
    will-change: transform;
  }
  
  .flowers-slider__btn {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(237, 14, 148);
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: white;
    text-align: center; 
    /* background: rgba(0, 0, 0, 0.2); */
    border: none;
    /* transform: translateY(-50%);
    cursor: pointer; */
  }
  
  .flowers-slider__btn_hide {
    display: none;
  }
  
  .flowers-slider__btn_prev {
    left: 0;
  }
  
  .flowers-slider__btn_next {
    right: 0;
  }
  